@namespace Components
@inject IFeiranteService feirante_service
@inject NavigationManager nav
@using System.Security.Claims

<div class="feira-container01">
  <div class="feira-container02">
    <div class="feira-container03">
      <div data-thq="thq-dropdown" class="feira-thq-dropdown list-item">
        <div data-thq="thq-dropdown-toggle" class="feira-dropdown-toggle">
          <a href="/feiras">
            <img alt="image" src="logo.png" class="feira-image" />
          </a>
        </div>
        <ul data-thq="thq-dropdown-list" class="feira-dropdown-list">
          <li data-thq="thq-dropdown" class="feira-dropdown list-item">
            <div data-thq="thq-dropdown-toggle" class="feira-dropdown-toggle1">
              <span class="feira-text">Sobre nós</span>
            </div>
          </li>
          <li data-thq="thq-dropdown" class="feira-dropdown1 list-item">
            <div data-thq="thq-dropdown-toggle" class="feira-dropdown-toggle2">
              <span class="feira-text01">Ajuda</span>
            </div>
          </li>
          <li data-thq="thq-dropdown" class="feira-dropdown2 list-item">
            <div data-thq="thq-dropdown-toggle" class="feira-dropdown-toggle3">
              <span class="feira-text02">Definições</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  @if(this.ShowFilter)
  {
  <div class="feira-container04">
    <div class="feira-container05">
      <button class="feira-button button">
        <span class="feira-text03">
          <span>Filter</span>
          <br />
        </span>
      </button>
      <input @bind="@FilterParam" type="text" placeholder="Pesquisa" class="feira-textinput input" />
      <AuthorizeView Roles="Feirante">
      @if ((this.feirante?.Organizador ?? false) && MineFeirasFilter)
      {
        <button class="feira-button button" style="margin-left: 50px;" id="last-button" @onclick="@(() => ShowFeirasOrganizador())">
          <span class="feira-text03">
            @if(ShowMineParam)
            {
            <span>Minhas Feiras</span>
            }
            else
            {
              <span>Todas as Feiras</span>
            }
            <br />
          </span>
        </button>
      }
      </AuthorizeView>
      <AuthorizeView Roles="Cliente">
        @if(ShowCarrinho)
        {
        <button class="feira-button button" style="margin-left: 50px;" id="last-button" @onclick="@(() => ChangeShowCarrinho())">
          <span class="feira-text03">
            @if(!ShowCartParam)
            {
                  <span>Ver Carrinho</span>
            }
            else
            {
              <span>Produtos do Stand</span>
            }
            <br />
          </span>
        </button>
        }
      </AuthorizeView>
    </div>
  </div>
  }
  else
  {
    <div class="feira-container04">
      <div class="feira-container05">
        <h1 class="feira-text04">MarketBay</h1>
      </div>
    </div>
  }

  <LogPerfilComponent />
</div>

<style>
  .feira-container {
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #ebc39c;
  }

  .feira-container01 {
    width: 100%;
    height: 96px;
    display: flex;
    position: relative;
    align-items: flex-start;
    background-color: #0f8a82;
  }

  .feira-container02 {
    width: 219px;
    height: 77px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }

  .feira-container03 {
    flex: 0 0 auto;
    width: 181px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }

  .feira-thq-dropdown {
    width: 149px;
    cursor: pointer;
    height: 80px;
    display: inline-block;
    position: relative;
    align-self: center;
    border-radius: var(--dl-radius-radius-radius2);
  }

  .feira-dropdown-toggle {
    fill: #595959;
    color: #595959;
    width: 135px;
    height: 94px;
    display: inline-flex;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius2);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }

  .feira-image {
    width: 88px;
    height: 82px;
    object-fit: cover;
  }

  .feira-dropdown-list {
    left: 0%;
    width: max-content;
    display: none;
    z-index: 100;
    position: absolute;
    min-width: 100%;
    transition: 0.3s;
    align-items: stretch;
    border-color: #D9D9D9;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: column;
    list-style-type: none;
    background-color: var(--dl-color-gray-white);
    list-style-position: inside;
  }

  .feira-dropdown {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: var(--dl-radius-radius-radius2);
  }

  .feira-dropdown-toggle1 {
    fill: #595959;
    color: #595959;
    width: 100%;
    height: 100%;
    display: inline-flex;
    transition: 0.3s;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }

  .feira-dropdown-toggle1:hover {
    fill: #fff;
    color: #fff;
    background-color: #595959;
  }

  .feira-text {
    width: 100%;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }

  .feira-dropdown1 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: var(--dl-radius-radius-radius2);
  }

  .feira-dropdown-toggle2 {
    fill: #595959;
    color: #595959;
    width: 100%;
    height: 100%;
    display: inline-flex;
    transition: 0.3s;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }

  .feira-dropdown-toggle2:hover {
    fill: #fff;
    color: #fff;
    background-color: #595959;
  }

  .feira-text01 {
    width: 100%;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }

  .feira-dropdown2 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: var(--dl-radius-radius-radius2);
  }

  .feira-dropdown-toggle3 {
    fill: #595959;
    color: #595959;
    width: 100%;
    display: inline-flex;
    transition: 0.3s;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }

  .feira-dropdown-toggle3:hover {
    fill: #fff;
    color: #fff;
    background-color: #595959;
  }

  .feira-text02 {
    width: 100%;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }

  .feira-container04 {
    flex: 0 0 auto;
    width: 65%;
    height: 109px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }

  .feira-container05 {
    width: 100%;
    height: 100px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  .feira-button {
    color: var(--dl-color-gray-white);
    transition: 0.3s;
    background-color: #562a2a;
  }

  .feira-button:hover {
    color: #e5412a;
    border-color: var(--dl-color-gray-white);
    background-color: var(--dl-color-gray-white);
  }

  .feira-text03 {
    font-style: normal;
    font-weight: 600;
  }

          .feira-text04 {
            color: #562a2a;
            text-align: center;
          }

  .feira-container06 {
    width: 303px;
    height: 100px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }


  .feira-textinput {
    width: 294px;
    height: 34px;
    font-size: 16px;
    align-self: center;
    margin-left: 5px;
  }

  .last-button {
    margin-left: auto;
  }
</style>

@code {
  
  private string _valueFilter = string.Empty;

  private Feirante? feirante;

  [CascadingParameter]
  public Task<AuthenticationState> authState { get; set; }

  protected override async Task OnInitializedAsync()
  {
    var user = await authState;
    if (user.User.IsInRole("Feirante"))
    {
      var id = Int32.Parse(user.User.FindFirst(claim => claim.Type == ClaimTypes.NameIdentifier)?.Value ?? "-1");

      var feirante = await this.feirante_service.GetFeirante(id);
      if (feirante != null)
      {
        this.feirante = feirante;
      }

    }
  }
  private bool _showCart = false;
  [Parameter]
  public bool ShowCartParam {
    get => _showCart;
    set {
      if(_showCart == value) return;
      _showCart = value;
      ShowCartParamChanged.InvokeAsync(value);
    }
  }

  [Parameter]
  public EventCallback<bool> ShowCartParamChanged { get; set; }

    [Parameter]
    public bool ShowCarrinho { get; set; } = false;

  [Parameter]
  public bool MineFeirasFilter { get; set; } = false;

  [Parameter]
  public bool ShowFilter { get; set; } = true;

  private bool _showMine = true;

  [Parameter]
  public bool ShowMineParam
  {
    get => _showMine;
    set {
      if(_showMine == value) return;
      _showMine = value;
      ShowMineParamChanged.InvokeAsync(value);
    }
  }

  [Parameter]
  public EventCallback<bool> ShowMineParamChanged { get; set; }

  [Parameter]
  public string FilterParam
  {
    get => _valueFilter;
    set
    {
      if (_valueFilter == value) return;
      _valueFilter = value;
      FilterParamChanged.InvokeAsync(value);
    }
  }

  [Parameter]
  public EventCallback<string> FilterParamChanged { get; set; }

    private void ShowFeirasOrganizador()
    {
      ShowMineParam = !ShowMineParam;
    }

  private void ChangeShowCarrinho()
  {
    this.ShowCartParam = !this.ShowCartParam;
  }

}
