@page "/feiras"
@using MarketBayBlazor.Client.Shared
@inject IFeiraService FeiraService

<ul>
    @if (feiras != null)
    {
        @foreach (var feira in feiras)
        {
            <li>
                <img src="@feira.Logotipo"/>
                <div>@feira.NomeFeira</div>
            </li>
        }
    }
</ul>

@code {
    private List<Feira> feiras = new List<Feira>();

    protected override async Task OnInitializedAsync()
    {
        var feiras = await FeiraService.GetFeiras();
        if(feiras != null)
        {
            Console.WriteLine("Tenho as feiras");
            this.feiras = feiras;
        }
    }

}

