@page "/registerclient"
@using MarketBayBlazor.Client.ViewModels
@inject IClientService ClientService
@inject NavigationManager NavigationManager

<div>
  <div class="log-in-container">
    <header data-thq="thq-navbar" class="log-in-navbar-interactive">
      <div class="log-in-container01">
        <div class="log-in-container02">
          <h1 class="log-in-text">MarketBay</h1>
          <img
            alt="image"
            src="logo.png"
            class="log-in-image"
          />
        </div>
      </div>
      <div
        data-thq="thq-navbar-nav"
        data-role="Nav"
        class="log-in-desktop-menu"
      >
        <nav data-thq="thq-navbar-nav-links" data-role="Nav" class="log-in-nav">
          <span class="log-in-text01">Work</span>
          <span class="log-in-text02">Dashboard</span>
          <span class="log-in-text03">Sobre</span>
          <span class="log-in-text04">Contactos</span>
        </nav>
      </div>
      <div data-thq="thq-burger-menu" class="log-in-burger-menu">
        <svg viewBox="0 0 1024 1024" class="log-in-icon">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path>
        </svg>
      </div>
      <div data-thq="thq-mobile-menu" class="log-in-mobile-menu">
        <div data-thq="thq-mobile-menu-nav" data-role="Nav" class="log-in-nav1">
          <div class="log-in-container03">
            <h1 class="log-in-heading">MarketBay</h1>
            <div data-thq="thq-close-menu" class="log-in-menu-close">
              <svg viewBox="0 0 1024 1024" class="log-in-icon2">
                <path
                  d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path>
              </svg>
            </div>
          </div>
          <nav
            data-thq="thq-mobile-menu-nav-links"
            data-role="Nav"
            class="log-in-nav2"
          >
            <span class="log-in-text05">Sobre nós</span>
            <span class="log-in-text06">Ajuda</span>
            <span class="log-in-text07">Definições</span>
          </nav>
        </div>
      </div>
    </header>
    <div class="log-in-container04">
      <div class="log-in-container05">
        <div class="log-in-container06">
          <div class="log-in-container07">
            <h1 class="log-in-text08">Criar Conta</h1>
          </div>
        </div>
        <div class="log-in-container08">
          <span class="log-in-text09">
            <span class="log-in-text10">Já tem conta?</span>
            <span></span>
            <span class="log-in-text12">Log In</span>
            <span> </span>
          </span>
        </div>
      </div>
    </div>
    <div class="log-in-container09">
      <EditForm Model="@clienteEntry" class="log-in-form" OnValidSubmit="@Registar">
        <div class="log-in-container10">
          <h1 class="log-in-text14">
            <span class="log-in-text15">Nome</span>
            <span></span>
            <span class="log-in-text17">*</span>
          </h1>
          <InputText
            @bind-Value="clienteEntry.Name"
            placeholder="Awesome Name"
            class="log-in-textinput input"
          />
        </div>
        <div class="log-in-container11">
          <h1 class="log-in-text18">
            <span class="log-in-text19">Email</span>
            <span> </span>
            <span class="log-in-text21">*</span>
          </h1>
          <InputText
            @bind-Value="clienteEntry.Email"
            placeholder="awesomeemail@gmail.com"
            class="log-in-textinput1 input"
          />
        </div>
        <div class="log-in-container12">
          <h1 class="log-in-text22">
            <span class="log-in-text23">Palavra-Passe</span>
            <span class="log-in-text24"> </span>
            <span class="log-in-text25">*</span>
          </h1>
          <InputText
            @bind-Value="clienteEntry.Password"
            placeholder="placeholder"
            class="log-in-textinput2 input"
          />
        </div>
        <div class="log-in-container13">
          <h1 class="log-in-text26">Método de Pagamento</h1>
          <InputText
            @bind-Value="clienteEntry.MetodoPagamento"
            placeholder="placeholder"
            class="log-in-textinput3 input"
          />
        </div>
        <div class="log-in-container14">
          <h1 class="log-in-text27">Rua</h1>
          <InputText
            @bind-Value="clienteEntry.Rua"
            placeholder="placeholder"
            class="log-in-textinput4 input"
          />
        </div>
        <div class="log-in-container15">
          <h1 class="log-in-text28">Código Postal</h1>
          <InputText
            @bind-Value="clienteEntry.CodigoPostal"
            placeholder="placeholder"
            class="log-in-textinput5 input"
          />
        </div>
        <div class="log-in-container16">
          <h1 class="log-in-text29">
            <span>Localidade</span>
            <br />
          </h1>
          <InputText
            @bind-Value="clienteEntry.Localidade"
            type="text"
            placeholder="placeholder"
            class="log-in-textinput6 input"
          />
        </div>
        <div class="log-in-container17">
          <div class="log-in-container18">
            <button class="log-in-button button " onclick="@(() => NavigationManager.NavigateTo("/feiras"))">Fazer mais tarde</button>
            <button type="submit" class="log-in-button1 button">Sign up</button>
          </div>
          <div class="log-in-container19">
            <span class="log-in-text32">
              <span class="log-in-text33">É vendedor?</span>
              <span></span>
              <span class="log-in-text35">Clique Aqui</span>
            </span>
          </div>
        </div>
      </EditForm>
    </div>
  </div>
</div>



<style>
  .log-in-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #ebc39c;
  }

  .log-in-navbar-interactive {
    width: 100%;
    height: 90px;
    display: flex;
    position: relative;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }

  .log-in-container01 {
    flex: 0 0 auto;
    width: 178px;
    height: 129px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
  }

  .log-in-container02 {
    flex: 0 0 auto;
    width: 144px;
    height: 115px;
    display: flex;
    align-self: flex-start;
    margin-top: 0px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }

  .log-in-text {
    color: #562a2a;
    font-size: 1.2em;
    align-self: center;
  }

  .log-in-image {
    width: 95px;
    height: 87px;
    object-fit: cover;
  }

  .log-in-desktop-menu {
    display: flex;
  }

  .log-in-nav {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .log-in-text01 {
    color: #562a2a;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }

  .log-in-text02 {
    color: #562a2a;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-left: var(--dl-space-space-twounits);
  }

  .log-in-text03 {
    color: #562a2a;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-left: var(--dl-space-space-twounits);
  }

  .log-in-text04 {
    color: #562a2a;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-left: var(--dl-space-space-twounits);
  }

  .log-in-burger-menu {
    display: none;
    align-items: center;
    justify-content: center;
  }

  .log-in-icon {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }

  .log-in-mobile-menu {
    top: 0px;
    left: 0px;
    width: 386px;
    height: 338px;
    display: none;
    padding: 32px;
    z-index: 100;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  }

  .log-in-nav1 {
    height: 372px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .log-in-container03 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }

  .log-in-heading {
    font-size: 1.8em;
  }

  .log-in-menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .log-in-icon2 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }

  .log-in-nav2 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .log-in-text05 {
    color: #562a2a;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: var(--dl-space-space-unit);
  }

  .log-in-text06 {
    color: #562a2a;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: var(--dl-space-space-unit);
  }

  .log-in-text07 {
    color: #562a2a;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: var(--dl-space-space-unit);
  }

  .log-in-container04 {
    width: 100%;
    height: 118px;
    display: flex;
    align-self: center;
    align-items: flex-start;
    justify-content: center;
  }

  .log-in-container05 {
    flex: 0 0 auto;
    width: 292px;
    height: 104px;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }

  .log-in-container06 {
    flex: 0 0 auto;
    width: 252px;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .log-in-container07 {
    width: 362px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .log-in-text08 {
    color: #562a2a;
    font-size: 2.5em;
    align-self: center;
    font-style: normal;
    font-weight: 700;
  }

  .log-in-container08 {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .log-in-text09 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }

  .log-in-text10 {
    color: #0f8a82;
  }

  .log-in-text12 {
    color: #e5412a;
  }

  .log-in-container09 {
    width: 100%;
    height: 893px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }

  .log-in-form {
    width: 495px;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
  }

  .log-in-container10 {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .log-in-text14 {
    font-size: 1.5em;
    align-self: flex-start;
  }

  .log-in-text15 {
    color: #562a2a;
  }

  .log-in-text17 {
    color: #e5412a;
  }

  .log-in-textinput {
    width: 453px;
    height: 46px;
    font-size: 16px;
    align-self: center;
  }

  .log-in-container11 {
    width: 100%;
    height: 70px;
    display: flex;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .log-in-text18 {
    font-size: 1.5em;
    align-self: flex-start;
  }

  .log-in-text19 {
    color: #562a2a;
  }

  .log-in-text21 {
    color: #e5412a;
  }

  .log-in-textinput1 {
    width: 453px;
    height: 46px;
    font-size: 16px;
    align-self: center;
  }

  .log-in-container12 {
    width: 100%;
    height: 100px;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .log-in-text22 {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    align-self: flex-start;
  }

  .log-in-text23 {
    color: #562a2a;
  }

  .log-in-text24 {
    color: var(--dl-color-gray-black);
  }

  .log-in-text25 {
    color: #e5412a;
  }

  .log-in-textinput2 {
    width: 467px;
    height: var(--dl-size-size-small);
    font-size: 16px;
    align-self: center;
  }

  .log-in-container13 {
    width: 100%;
    height: 100px;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .log-in-text26 {
    color: #562a2a;
    font-size: 1.5em;
    align-self: flex-start;
  }

  .log-in-textinput3 {
    width: 467px;
    height: 46px;
    font-size: 16px;
    align-self: center;
  }

  .log-in-container14 {
    width: 100%;
    height: 100px;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .log-in-text27 {
    color: rgb(86, 42, 42);
    font-size: 1.5em;
    align-self: flex-start;
  }

  .log-in-textinput4 {
    width: 467px;
    height: 46px;
    font-size: 16px;
    align-self: center;
  }

  .log-in-container15 {
    width: 100%;
    height: 100px;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .log-in-text28 {
    color: rgb(86, 42, 42);
    font-size: 1.5em;
    align-self: flex-start;
  }

  .log-in-textinput5 {
    width: 467px;
    height: 46px;
    font-size: 16px;
    align-self: center;
  }

  .log-in-container16 {
    width: 100%;
    height: 100px;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .log-in-text29 {
    color: rgb(86, 42, 42);
    font-size: 1.5em;
    align-self: flex-start;
  }

  .log-in-textinput6 {
    width: 467px;
    height: 46px;
    font-size: 16px;
    align-self: center;
  }

  .log-in-container17 {
    width: 100%;
    height: 309px;
    display: flex;
    margin-top: 0px;
    align-items: flex-start;
    flex-direction: column;
  }

  .log-in-container18 {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .log-in-button {
    color: #0f8a82;
    width: 262px;
    height: 62px;
    font-size: 25px;
    font-style: normal;
    text-align: center;
    transition: 0.3s;
    font-weight: 700;
    border-color: #562a2a;
    background-color: #562a2a;
  }

  .log-in-button:hover {
    color: #e5412a;
    border-color: var(--dl-color-gray-white);
    background-color: var(--dl-color-gray-white);
  }

  .log-in-button1 {
    color: #562a2a;
    width: 179px;
    height: 62px;
    font-size: 25px;
    font-style: normal;
    text-align: center;
    transition: 0.3s;
    font-weight: 800;
    border-color: #0f8a82;
    background-color: #0f8a82;
  }

  .log-in-button1:hover {
    color: #0f8a82;
    border-color: var(--dl-color-gray-white);
    background-color: var(--dl-color-gray-white);
  }

  .log-in-container19 {
    width: 100%;
    height: 37px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
  }

  .log-in-text32 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }

  .log-in-text33 {
    color: #0f8a82;
  }

  .log-in-text35 {
    color: #e5412a;
  }

  @@media(max-width: 767px) {
    .log-in-navbar-interactive {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }

    .log-in-desktop-menu {
      display: none;
    }

    .log-in-text02 {
      margin-left: var(--dl-space-space-unit);
    }

    .log-in-text03 {
      margin-left: var(--dl-space-space-unit);
    }

    .log-in-text04 {
      margin-left: var(--dl-space-space-unit);
    }

    .log-in-burger-menu {
      display: flex;
    }
  }

  @@media(max-width: 479px) {
    .log-in-navbar-interactive {
      padding: var(--dl-space-space-unit);
    }

    .log-in-mobile-menu {
      padding: 16px;
    }
  }
</style>

@code {

  private ClienteEntry clienteEntry = new ClienteEntry();

  public async void Registar()
  {

    Morada? morada = null;
    if(clienteEntry.CodigoPostal != null && clienteEntry.Localidade != null && clienteEntry.Rua != null) {
      morada = new Morada() 
      {
        CodigoPostal = clienteEntry.CodigoPostal,
        Localidade = clienteEntry.Localidade,
        Rua = clienteEntry.Localidade,
      };
    }

    var cliente = new Cliente() {
      Conta = new Conta() 
      {
        Nome = clienteEntry.Name,
        Email = clienteEntry.Email,
        Password = clienteEntry.Password,
        NumeroTelemovel = clienteEntry.MetodoPagamento,
        Morada = morada, 
      }
    };
    await ClientService.RegistaCliente(cliente);
    NavigationManager.NavigateTo("/login");
  }
}
